<div class="container">

  <div class="row">
    <h2><%= @article.title %></h2>
  </div>
  <div class="row">
    <p><%= @article.description %></p>
  </div>
  <div class="row">

    <span class="mr-1"><%= link_to "Edit", edit_article_path %></span>
    <span class="mr-1"><%= link_to "Articles", articles_path %></span>
    <span class="mr-1"><%= link_to "Delete", article_path, method: :delete, data: { confirm: "Are you sure?"}  %></span>
  </div>
  <div class="row">

  </div>

</div>